This notebook is freely available for redistribution under the [GPL-3.0 license](https://choosealicense.com/licenses/gpl-3.0/).

Author: 蘇嘉冠 feabries@gmail.com

Contributors: 蘇郁翔 asdfghjkl225836@gmail.com

# Python 基礎練習（一）

歡迎來到我們課堂的第一次的練習！希望透過實際練習，讓你更加熟悉 Python 程式語言，讓接下來的學習之路更加順利

Colab 的基本使用方式會在課堂上解說，如果想了解更完整的使用方式請看 [官方介紹](https://colab.research.google.com/notebooks/intro.ipynb)

## 在開始之前

請先確認以下動作已經完成：
1. 登錄你的 Google 帳號
2. 按上面工具列的 `工具` -> `設定` 跳出設定視窗，按左邊的 `編輯器`，將右方的 `縮排寬度` 設定為 `4`，再按下 `儲存`
3. 按上方工具列的 `檔案` -> `在雲端硬碟中儲存副本`，會跳出一個新視窗，用複製的那一份繼續做編輯。複製的檔案會儲存在你的 [Google Drive](https://drive.google.com/drive) 的 `Colab Notebooks` 資料夾裡

## I. 基礎中的基礎

### 縮排與區塊結構

- 程式碼以行作為單位
- 空格與縮排來區分區塊結構（迴圈、if else 等等）
- 建議用 4 個空白鍵來縮排，而且不要用 tab

![image.png]()

### print()

`print()` 是一個 Python 的內建函式，可以用它來顯示出任何資訊，例如範例會秀出 `I love AI` 這些字

In [ ]:
print("I love AI")

`print()` 可以用放多個要顯示的內容，預設會用空白接起來

In [ ]:
print("Hello", "I love AI")

In [ ]:
print("I'm", 18, "years old")

每個 `print()` 會換行，可以用多個 `print()` 來輸出好幾行文字

In [ ]:
print("I love AI")
print("I love it, too")

### 變數

語法 `XXXX = YYY`，代表在記憶體中建立一個變數 `XXX`，並且將 `YYY` 的值指派給 `XXX`

Python 變數的特性：
- 無需事先宣告變數型別，首次指派一個值給變數時，該變數就會自動建立
- 可以指派任何型別的物件給變數

以下範例，第一段是變數 `var` 被建立並且值派為 `5` (型別為整數)，第二段則是將 `var` *的值改為* `"five"` (型別為字串)

In [ ]:
var = 5
print("Value of var:", var)

In [ ]:
var = "five"
print("Value of var:", var)

為變數命名的時候，盡量使用有意義的名字，增加程式碼的可讀性

以下範例，第一段為不好的命名方式（`a`, `b` 讓人很難懂），第二段則好很多（`sentence` 是"句子"的意思，`number` 是"數字"的意思，讓人一看就懂）

In [ ]:
a = "I love you"
b = 87
print(a, b)

In [ ]:
sentence = "I love you"
number = 87
print(sentence, number)

[補充] Python 的變數，實際上運作起來比較像“標籤”，是在做某個物件的 reference（參照），而不是真的把值存起來

![image.png]()

![image.png]()

### 註解

執行 Python 時，註解會被忽略不被執行：
- 用 `#` 來做當行單行註解
- 如果想要多行，可以用多行的 `#`

註解通常是用來描述、說明你的程式碼，或是把一些暫時不用的程式碼註解掉

In [ ]:
# This is one line comment.
number = 100
print(number)

In [ ]:
# number = 50
print(number)

In [ ]:
number = 30 # Comment can also be here.
print(number)

In [ ]:
# This comment is very long, so I split the comment into two
# seperate lines.
number = 200
print(number)

### 運算式與運算子

Python 支援常見的算術與運算式，例如 `+`、`-`、`*`、`/` 分別代表加法、減法、乘法、除法，這些符號我們稱為運算子

In [ ]:
number_x = 10
number_y = 5

number_z = number_x + number_y
print("x + y =", number_z)

number_z = number_x - number_y
print("x - y =", number_z)

number_z = number_x * number_y
print("x * y =", number_z)

number_z = number_x / number_y
print("x / y =", number_z)

要注意的是 `/` 會得到小數點的結果，如果要將小數點捨去，需要用整除運算 `//`

In [ ]:
number_x = 9
number_y = number_x / 2
number_z = number_x // 2

print("3 * 2 =", number_x)
print("3 / 2 =", number_y)
print("3 // 2 =", number_z)

`+` 跟 `-` 也可以單獨放在變數前，例如將數值為 `100` 的變數加上 `-` 會得到 `-100`

In [ ]:
number = 100
print(-number)

運算子之間是有優先順序的，例如先加減後乘除。如果要改變計算順序，可以用 `(` 跟 `)` 將要優先計算的部份包起來。

例如我們想要計算兩個值的平均，範例第一段會得到錯的結果（除法先被計算），第二段才會是對的

In [ ]:
number_x = 10
number_y = 5
number_z = number_x + number_y / 2

print("Wrong average:", number_z)

In [ ]:
number_x = 10
number_y = 5
number_z = (number_x + number_y) / 2

print("Correct average:", number_z)

其他幾個常用的預算子：例如：`%` 計算餘數、`**` 計算指數（次方）

範例說明：
- 13 除以 4 的餘數為 1（13 = 3 * 4 + "1"）
- 2 的 3 次方

In [ ]:
print(13 % 4) 
print(2 ** 3)

[補充]

1. 更完整的 Python 支援的運算子列表，請參考 [這裡](https://www.w3schools.com/python/python_operators.asp) 以及 [這裡](https://docs.python.org/3/library/operator.html#mapping-operators-to-functions)
2. 運算子之間的預設的優先順序，則參考 [這裡](https://docs.python.org/3/reference/expressions.html#operator-precedence)

### 字串（String）

字串是一種很常用的型別，用來表達一連串的字元。我們可以用兩個單引號 `'` 或是雙引號 `"` 包起一串字，來做為一個字串。

為了維持一致性，這門課我們基本上都用雙引號

In [ ]:
sentence = "I love AI" # OK
print(sentence)

sentence = 'I love AI' # Also OK
print(sentence)

Python 內建 `str()` 函式，可以將變數轉成字串型別。

In [ ]:
number = 100 # 100
print(number)

sentence = str(number) # "100"
print(sentence)

[補充] 如果遇到字傳很長的狀況，會有以下兩種寫法，比較建議用第一種寫法，第二種容易產生預期外的結果，比較不推薦

In [ ]:
# Recommended.
long_sentence = "Hello, this is a very very long story." \
                "A long time long time ago, a girl was born."
print(long_sentence)

In [ ]:
# Not recommended.
long_sentence = """Hello, this is a very very long story.
A long time long time ago, a girl was born.
"""
print(long_sentence)

### 數字

Python 提供四種數字相關的型別：整數（Integer）、浮點數（Floating Point）、布林（Boolean）、複數（Complex Number），其中前三種都相當常用

In [ ]:
number_int = 100 # Integer (int)
print(number_int)

number_float = 100.5 # Floating Point (float)
print(number_float)

number_bool = True # Boolean (bool)
print(number_bool)

Python 內建許多跟數字相關的函式，常用的如：
- `int()`: 將型別轉換成整數
- `float()`: 將型別轉換成浮點數
- `bool()`: 將型別轉換成布林
- `abs()`: 計算絕對值
- `round()`: 四捨五入

In [ ]:
print(int(100.1)) # 100.1 => 100
print(int("100")) # "100" (str) => 100 (int)
print(float(100)) # 100 => 100.0
print(float("100.5")) # "100.5" (str) => 100.5 (float)
print(bool(1)) # 1 => True
print(bool(0)) # 0 => False
print(abs(-3)) # -3 => 3
print(round(3.4)) # 3.4 => 3
print(round(3.5)) # 3.5 => 4

[補充] 更完整的內建函式，請參考 [這裡](https://docs.python.org/3/library/functions.html)

### 取得變數的型別

如果想要知道某個變數的型別，可以用內建函式 `type()` 來取得

In [ ]:
var = 10 # Integer (int)
print(var, "=>", type(var))

var = 10.5 # Floating Point (float)
print(var, "=>", type(var))

var = "10.5" # String (str)
print(var, "=>", type(var))

### [補充] Python 的命名習慣

- 變數、函式、套件名稱都用小寫，需要時可以加上 `_`
    - 這種風格稱之為 snake_case
- 常數全部用大寫，單字之間加底線
- Class 名稱，每個英文單字第一個字母大寫
    - 這種風格稱之為 CamelCase

In [ ]:
my_response = "You are a good guy" # Variable
MY_RESPONSE = "You are a good guy" # Constant

# Class
class MyResponse():
    def reply(self):
        return "You are a good guy"

## II. 基本資料結構：list 與 set

### list

當我們要讓一個變數同時儲存很多值時，我們最常使用的資料結構為 list。

list 很像其他語言的"陣列"，由有順序的 element 所構成。我們用左中括號 `[` 跟右中括號 `]` 來宣告一個 list，並且用逗號 `,` 來分開各個 element。

範例第一段代表宣告有 3 個整數的 list（按順序為 `0`, `1`, `2`），第二段則是有 2 個字串的 list（案順序為 `"zero"`, `"one"`），第三段則是 0 個 element 的 list。

In [ ]:
numbers = [0, 1, 2]
print(numbers)

In [ ]:
sentences = ["zero", "one"]
print(sentences)

In [ ]:
nothing_list = []
print(nothing_list)

一個 list 裡的 element 可以有不同型別的 element，但通常不太建議這樣做

In [ ]:
hybrids = [3, "love", 3.5, [1, 2, 3]]
print(hybrids)

可以用 `len()` 這個內建函式來計算一個 list 的 element 數量

In [ ]:
numbers = [0, 1, 2]
print(len(numbers))

### list 的 index

當我們要取出 list 中的某個 element，可以在 list 後面加上 `[index]` 來取出
。index 為一個整數，順序是從 0 開始，例如範例的 `"a"` 我們會說是第 0 個 element，而不是第 1 個

In [ ]:
words = ["a", "b", "c", "d", "e"]

print(words[0])
print(words[3])

index 也可以是負數，則從 list 尾端開始算，例如 -1 代表最後一個，-2 代表倒數第二個

In [ ]:
words = ["a", "b", "c", "d", "e"]

print(words[-1])
print(words[-2])

### list 的 slicing

slicing 是用來一次取 list 中的多個 element，其結果仍為一個 list。

語法：`[index1:index2]` 代表取出 index1 到 index2 之間，含 index1 但不含 index2 的 element，例如當 index1 為 0、index2 為 2 時，取出第 0 個跟第 1 個 element

In [ ]:
words = ["a", "b", "c", "d", "e"]

print(words[0:2])
print(words[1:4])
print(words[0:-1])
print(words[-2:-1])

index1 跟 index2 可以忽略：
- 忽略 index1 等同於 index1 為 0，例如 `[:2]` 等同於 `[0:2]`
- 忽略 index2 時，則會取到最後一個 element，例如範例的 `[3:]` 代表取出第 3 跟 第 4 個 element
- 兩個都忽略時，則會取出所有 element

In [ ]:
words = ["a", "b", "c", "d", "e"]

print(words[:2])
print(words[3:])
print(words[:])

### 更改 list 的 element

結合 list 的 index / slicing，加上 `=`，就可以更改 list 的 element

In [ ]:
words = ["a", "b", "c", "d", "e"]
print("Before:", words)

words[1] = "bb"
print("After:", words)

In [ ]:
words = ["a", "b", "c", "d", "e"]
print("Before:", words)

words[1:3] = ["bb", "cc"]
print("After:", words)

### list 常用的函式與方法

list 有許多相關的函式（`function(變數)`）與方法（`變數.method()`），以下介紹幾個常見的

list 可以動態增加的 element，透過以下幾個方法或是 `+` 運算子：
- `list.append()`: 將某個 element 加入到 list 的最後一個位置
- `list.insert()`: 將某個 element 加入到 list 的某個位置
- `list.extend()`: 將另一個 list 的所有 element 加入到 list 中
- `list3 = list1 + list2`: 指派 list3 的內容為另外兩個 list 的所有 element

In [ ]:
numbers = [0, 1, 2]
numbers.append(3)
print(numbers)

In [ ]:
numbers = [0, 1, 2]
numbers.insert(1, 10)
print(numbers)

In [ ]:
numbers = [0, 1, 2]
numbers_another = [3, 4]
numbers.extend(numbers_another)
print(numbers)

In [ ]:
numbers = [0, 1, 2]
numbers_another = [3, 4]
numbers_final = numbers + numbers_another
print(numbers_final)
print(numbers)
print(numbers_another)

如果想要刪除某個 element，則可以使用：
- `del list[index]`: 移除某個位置的 element
- `list.remove()`: 移除第一個遇到的某個值的 element

In [ ]:
numbers = [0, 1, 2]
del numbers[1]
print(numbers)

In [ ]:
numbers = [0, 3, 2, 3]
numbers.remove(3)
print(numbers) # [0, 2, 3]
numbers.remove(3)
print(numbers) # [0, 2]

如果要比較 list 中各個 element 數值，可以使用：
- `min()`: 取得 list 中最小值的 element
- `max()`: 取得 list 中最大值的 element
- `list2 = sorted(list1)`: 將 list1 中 element 排序，結果指派給 list2。預設為從小排到大

In [ ]:
numbers = [9, 4, 8, 7]
print(min(numbers))
print(max(numbers))

In [ ]:
numbers = [9, 4, 8, 7]
sorted_numbers = sorted(numbers)
print(sorted_numbers)
print(numbers)

In [ ]:
numbers = [9, 4, 8, 7]
sorted_numbers = sorted(numbers, reverse=True)
print(sorted_numbers)

如果 list 中都是數字，可以用 `sum()` 來做總和

In [ ]:
numbers = [9, 4, 8, 7]
print(sum(numbers))

判斷某個 element 是否存在於某 list 之中：
- `element in list`: 如果 element 存在 list 之中，回傳 True，否則回傳 False
- `element not in list`: 如果 element 不存在 list 之中，回傳 True，否則回傳 False

In [ ]:
numbers = [9, 4, 8, 7]
print(9 in numbers)
print(5 in numbers)
print(5 not in numbers)

### set

set 是另一種 Python 的內建型別，set 如同 list 可以讓一個變數儲存很多值，但 set 裡面重複的資料會被自動刪除（數學概念中的"集合"）。

類似 list，我們用左大括號 `{` 跟右中括號 `}` 來宣告一個 set，並且用逗號 `,` 來分開各個 element。

In [ ]:
numbers_set = {9, 4, 8, 7}
print(numbers_set)

In [ ]:
numbers_set = {9, 9, 4, 4, 4, 8, 8, 7, 7}
print(numbers_set)

要增加或刪除 set 中的 element，可以使用 `set.add()` 或 `set.remove()`

In [ ]:
numbers_set = {9, 4, 8, 7}

numbers_set.add(5)
print(numbers_set)

numbers_set.add(9)
print(numbers_set)

numbers_set.remove(9)
print(numbers_set)

list 的相關函式，大部分也可以套用在 set 上，例如 `min()`, `len()`

In [ ]:
numbers_set = {9, 4, 8, 7}
print(min(numbers_set))

In [ ]:
numbers_set = {9, 4, 8, 7}
print(len(numbers_set))

numbers_set = {9, 4, 8, 7, 7}
print(len(numbers_set)) # The length is 4, not 5!

list 與 set 可以用 `set()` 與 `list()` 互相轉換型別，要注意轉換後的內容可能會部份遺失

In [ ]:
numbers = [9, 9, 4, 4, 4, 8, 8, 7, 7] # list
print("list:", numbers)

numbers = set(numbers) # convert list to set
print("list -> set:", numbers)

numbers = list(numbers) # convert back to list
print("list -> set -> list:", numbers)

## III. 應用練習

### 應用練習題的編寫規則

1. 每個應用練習題，都會有題目的說明、程式碼區塊與預期的答案等。請注意的是程式碼區塊已經有先設定好的變數名稱、順序等，因此除了有出現類似 `# PLEASE MODIFY` 的區塊之外，**請盡量不要更動裡面的內容**，避免得到錯的結果。
2. 每題都會附上參考解答，除非你真的解不出來，否則盡量在答對該題後再打開它

### （一）期中考分數大比較

小明與小華是兩位都是班上的學霸，常常會互相比較考試分數。某次期中考的科目分別為國文、英文、數學，我們分別已知小明（`ming_chinese`、`ming_english`、`ming_math`）與小華（`hua_chinese`、`hua_english`、`hua_math`）的分數，想要從這些資訊中得到：

1. 小明三科的總分
2. 小華三科的總分
3. 兩人數學的平均
4. 小明與小華國文分數差距的絕對值

[提示] 你可能需要了解以下功能的運作方式：
- 基本的數值運算
- 運用 *abs()* 函式，得到數字的絕對值

In [ ]:
ming_chinese = 92
ming_english = 89
ming_math = 83

hua_chinese = 87
hua_english = 90
hua_math = 95

In [ ]:
#@title 1. 小明三科的總分
ming_total = ming_chinese + ming_english + ming_math
print("Total score of Ming =", ming_total) # Expected output: 264

In [ ]:
#@title 2. 小華三科的總分
hua_total = 0 # PLEASE MODIFY
print("Total score of Hua =", hua_total) # Expected output: 272

In [ ]:
#@title 參考解答
hua_total = hua_chinese + hua_english + hua_math # PLEASE MODIFY
print("Total score of Hua =", hua_total) # Expected output: 272

In [ ]:
#@title 3. 兩人數學的平均
math_avg = 0.0 # PLEASE MODIFY
print("Average math score of Hua and Ming =", math_avg) # Expected output: 89.0

In [ ]:
#@title 參考解答
math_avg = (ming_math + hua_math) / 2 # PLEASE MODIFY
print("Average math score of Hua and Ming =", math_avg) # Expected output: 89.0

In [ ]:
#@title 4. 小明與小華國文分數差距的絕對值
abs_chinese_diff = 0 # PLEASE MODIFY
print("Absolute chinese score difference of Hua and Ming =", abs_chinese_diff) # Expected output: 5

In [ ]:
#@title 參考解答
abs_chinese_diff = abs(ming_chinese - hua_chinese) # PLEASE MODIFY
print("Absolute chinese score difference of Hua and Ming =", abs_chinese_diff) # Expected output: 5

### （二）健康檢查

我們有一筆關於 10 個人做健康檢查的結果，包含體重（`weights`，單位為公斤）以及身高（`heights`，單位為公分）。今天想要從這些資料中得到以下訊息：
1. 第一個人的體重
2. 第一個人的身高
3. 最後一個人的體重
4. 最後一個人的身高
5. 最後一個人的 BMI 值
    - BMI 計算方式：體重（公斤） / 身高（公尺）的平方
6. 最後一個人的 BMI 值，但是把小數位無條件捨去

[提示] 你可能需要了解以下功能的運作方式：
- *list* 的 *index*
- 基本的數值運算
- 型別轉換，運用 `int()` 將 *float* 轉成 *int*

In [ ]:
weights = [76, 51, 72, 67, 58, 51, 71, 54, 55, 53]
heights = [154, 169, 151, 161, 154, 170, 172, 173, 178, 168]

In [ ]:
#@title 1. 第一個人的體重
first_weight = weights[0]
print("Weight of First Person =", first_weight) # Expected output: 76

In [ ]:
#@title 2. 第一個人的身高
first_height = 0
print("Height of First Person =", first_height) # Expected output: 154

In [ ]:
#@title 參考解答
first_height = heights[0]
print("Height of First Person =", first_height) # Expected output: 154

In [ ]:
#@title 3. 最後一個人的體重
last_weight = weights[-1] # PLEASE MODIFY
print("Weight of Last Person =", last_weight) # Expected output: 53

In [ ]:
#@title 4. 最後一個人的身高
last_height = 0 # PLEASE MODIFY
print("Height of Last Person =", last_height) # Expected output: 168

In [ ]:
#@title 參考解答
last_height = heights[-1] # PLEASE MODIFY
print("Height of Last Person =", last_height) # Expected output: 168

In [ ]:
#@title 5. 最後一個人的 BMI 值
last_height_cm = last_height / 100
last_bmi_float = 0.0 # PLEASE MODIFY
print("BMI of Last Person (Floating Point) =", last_bmi_float) # Expected output: 18.77834467120182

In [ ]:
#@title 參考解答
last_height_cm = last_height / 100
last_bmi_float = last_weight / (last_height_cm * last_height_cm) # PLEASE MODIFY
print("BMI of Last Person (Floating Point) =", last_bmi_float) # Expected output: 18.77834467120182

In [ ]:
#@title 6. 最後一個人的 BMI 值，但是把小數位無條件捨去
last_bmi_int = 0 # PLEASE MODIFY
print("BMI of Last Person (Integer) =", last_bmi_int) # Expected output: 18

In [ ]:
#@title 參考解答
last_bmi_int = int(last_bmi_float) # PLEASE MODIFY
print("BMI of Last Person (Integer) =", last_bmi_int) # Expected output: 18

### （三）溫度資訊統計

我們有一組某個地方的溫度觀測資料：`temperatures`，為 1948 年至 2016 年每月的最高溫度。請試著從這些資料中得到一些基本資訊，包含：
1. 最高溫
2. 最低溫
3. 平均溫度
4. 前十筆資料的平均溫度
5. 第三高的溫度
6. 有多少個不重複的溫度值

[提示] 你可能會需要用到以下跟 *list* 的 *slicing*、*set* 以及 *list* 相關的函式：
- `max()`
- `min()`
- `sum()`
- `len()`
- `sorted()`

In [ ]:
temperatures = [8.9, 7.9, 14.2, 15.4, 18.1, 19.1, 21.7, 20.8, 19.6, 14.9, 10.8, 8.8, 8.5, 10.4, 9.3, 16.2, 17.1, 22.0, 25.1, 23.9, 22.8, 17.0, 10.2, 9.2, 7.1, 9.9, 12.3, 12.9, 17.2, 23.6, 21.6, 21.9, 17.6, 14.0, 9.3, 3.8, 7.3, 7.0, 8.4, 12.3, 15.0, 20.5, 23.0, 20.2, 19.2, 14.6, 11.8, 8.9, 6.2, 6.7, 10.6, 15.6, 19.6, 20.9, 23.3, 21.6, 16.4, 13.2, 7.5, 5.8, 5.6, 7.5, 11.1, 13.1, 18.7, 19.8, 21.0, 22.6, 19.5, 14.7, 11.3, 10.0, 5.9, 6.1, 10.4, 13.2, 16.8, 18.6, 19.2, 19.8, 18.0, 16.2, 11.2, 9.7, 5.6, 5.0, 7.9, 15.2, 15.5, 20.0, 24.4, 24.3, 19.9, 13.5, 10.7, 9.5, 7.0, 2.9, 11.0, 12.1, 19.1, 18.5, 20.9, 18.8, 19.2, 13.8, 9.3, 8.2, 8.7, 9.0, 13.9, 14.2, 16.2, 23.6, 22.5, 21.1, 17.6, 15.5, 9.4, 7.6, 6.8, 8.9, 8.1, 12.3, 17.3, 19.4, 21.7, 20.8, 20.0, 14.9, 9.7, 8.0, 5.7, 7.4, 11.9, 14.2, 18.7, 22.1, 24.7, 24.2, 22.7, 17.8, 10.8, 9.3, 6.9, 7.9, 10.2, 14.3, 18.4, 22.1, 20.1, 20.3, 18.5, 14.2, 11.2, 6.9, 6.9, 10.3, 13.9, 15.0, 16.8, 21.7, 22.1, 21.7, 20.9, 15.6, 9.9, 6.8, 7.9, 7.6, 7.4, 12.7, 15.0, 20.4, 20.6, 20.0, 17.8, 15.7, 9.1, 5.0, 0.8, 2.8, 10.7, 13.6, 16.0, 20.8, 21.1, 19.8, 18.0, 14.8, 11.8, 5.4, 5.8, 7.6, 7.6, 12.8, 19.6, 19.3, 22.8, 22.3, 21.1, 13.7, 11.2, 7.1, 6.6, 5.9, 10.5, 13.4, 16.8, 19.7, 19.3, 20.8, 17.4, 16.2, 8.4, 8.4, 5.3, 9.3, 10.9, 12.2, 17.0, 21.8, 20.1, 20.6, 19.6, 14.7, 8.8, 9.3, 7.3, 9.3, 11.6, 12.5, 15.6, 20.1, 23.5, 21.5, 18.5, 15.0, 9.7, 7.2, 7.2, 5.7, 11.1, 13.7, 15.4, 20.6, 20.7, 20.2, 18.8, 16.5, 9.5, 5.4, 8.9, 4.9, 8.0, 13.6, 17.1, 20.6, 23.9, 21.8, 19.6, 18.2, 9.6, 6.1, 7.1, 7.2, 8.1, 11.4, 19.2, 23.6, 21.3, 22.3, 20.3, 15.7, 11.9, 7.0, 7.8, 8.6, 9.1, 12.2, 18.1, 17.8, 24.1, 21.3, 20.7, 17.2, 10.4, 9.3, 6.9, 7.9, 12.4, 12.9, 16.0, 17.5, 22.3, 21.8, 17.3, 15.6, 9.9, 9.4, 7.3, 8.1, 11.5, 12.5, 16.9, 21.9, 21.4, 23.7, 20.7, 13.9, 10.3, 8.6, 9.6, 9.2, 10.3, 14.0, 17.0, 20.1, 20.9, 21.5, 17.5, 11.0, 10.6, 11.0, 10.3, 9.3, 8.4, 13.3, 15.1, 21.8, 24.1, 25.9, 19.5, 14.4, 10.1, 7.6, 8.8, 7.8, 9.5, 13.7, 19.3, 25.5, 26.6, 25.1, 19.0, 14.9, 9.9, 5.6, 6.1, 9.6, 11.2, 12.2, 16.4, 17.4, 22.4, 20.3, 18.0, 16.3, 10.4, 9.2, 6.7, 6.2, 11.3, 10.7, 17.2, 19.7, 20.5, 20.7, 20.1, 17.1, 12.6, 7.8, 3.8, 4.5, 9.2, 12.7, 15.9, 19.0, 22.5, 21.0, 19.6, 16.4, 10.8, 9.2, 6.0, 9.9, 9.0, 14.0, 17.3, 19.8, 19.7, 21.9, 20.1, 14.0, 9.3, 8.9, 8.1, 7.1, 11.8, 12.9, 16.1, 18.5, 22.0, 22.8, 20.3, 12.9, 11.5, 4.4, 6.9, 8.4, 11.1, 14.3, 18.0, 21.5, 22.7, 22.2, 20.8, 14.1, 11.4, 8.2, 10.0, 5.5, 10.8, 12.4, 15.6, 20.8, 27.6, 24.5, 19.3, 15.1, 11.3, 9.2, 8.0, 7.4, 8.9, 14.6, 14.9, 21.3, 24.2, 24.4, 18.6, 15.8, 12.2, 8.7, 4.1, 6.3, 9.4, 14.0, 16.4, 18.5, 22.9, 20.3, 20.6, 16.1, 8.1, 10.0, 7.2, 1.7, 10.1, 10.9, 16.3, 21.8, 22.6, 20.0, 17.4, 16.4, 12.1, 9.7, 3.6, 7.7, 8.5, 15.8, 16.3, 18.6, 21.8, 21.8, 19.3, 15.0, 9.8, 8.9, 8.8, 8.7, 10.7, 13.5, 18.0, 19.7, 20.0, 21.8, 18.8, 15.5, 9.9, 10.4, 9.5, 10.2, 12.9, 11.5, 21.0, 22.1, 25.8, 24.2, 20.7, 17.1, 10.9, 9.4, 10.2, 11.7, 13.6, 14.6, 20.5, 19.5, 24.7, 26.0, 19.7, 16.9, 10.7, 7.6, 7.3, 5.4, 12.5, 13.1, 15.7, 17.8, 23.2, 24.1, 21.4, 14.6, 10.6, 8.3, 7.5, 9.5, 11.8, 14.0, 21.0, 22.5, 22.5, 21.7, 18.9, 12.5, 12.0, 7.8, 10.3, 7.2, 11.8, 14.6, 18.0, 21.8, 21.6, 21.6, 17.5, 13.0, 8.8, 9.2, 9.3, 7.7, 12.3, 13.3, 16.0, 21.5, 26.2, 23.0, 17.8, 15.4, 13.6, 10.7, 8.9, 10.7, 11.2, 15.0, 19.0, 20.7, 26.3, 27.0, 19.2, 18.3, 12.0, 5.8, 7.2, 6.8, 8.6, 14.3, 15.1, 22.8, 24.2, 23.1, 19.2, 16.6, 10.5, 6.2, 5.5, 10.8, 13.8, 15.6, 18.7, 20.2, 23.5, 25.8, 20.9, 15.9, 12.5, 9.5, 9.2, 11.6, 12.1, 12.7, 19.6, 19.9, 21.4, 23.5, 20.4, 14.7, 9.6, 9.7, 9.4, 8.8, 12.2, 14.9, 19.1, 20.3, 24.9, 22.8, 21.3, 15.6, 11.3, 8.7, 8.6, 10.4, 12.1, 12.9, 18.0, 21.0, 21.0, 23.2, 20.1, 14.7, 11.0, 9.0, 7.1, 9.2, 9.5, 12.8, 18.8, 20.8, 24.3, 23.5, 18.1, 17.6, 11.3, 7.3, 9.5, 11.3, 12.4, 15.7, 17.3, 20.1, 22.3, 23.3, 20.3, 15.3, 12.4, 9.0, 8.0, 8.4, 13.6, 15.7, 18.2, 23.3, 24.2, 26.4, 21.9, 14.5, 12.6, 8.8, 8.8, 8.7, 10.8, 14.9, 18.2, 22.1, 22.7, 23.8, 20.8, 15.3, 11.2, 8.8, 9.5, 7.3, 11.5, 14.6, 17.7, 22.8, 23.3, 23.2, 21.4, 17.8, 10.7, 8.2, 7.6, 7.2, 9.4, 14.1, 18.0, 23.7, 28.2, 22.2, 22.7, 17.8, 12.7, 9.7, 10.5, 9.9, 12.5, 18.9, 17.9, 21.2, 21.4, 21.5, 19.9, 15.4, 11.4, 8.9, 10.4, 11.0, 10.6, 13.7, 19.8, 20.8, 22.8, 21.5, 18.5, 15.0, 10.7, 7.3, 6.8, 7.8, 12.9, 16.1, 19.1, 22.4, 23.0, 23.9, 20.5, 16.3, 12.6, 7.0, 4.5, 6.9, 11.1, 15.8, 17.3, 23.5, 25.0, 21.6, 19.4, 15.2, 9.1, 3.9, 7.4, 10.2, 12.3, 19.7, 19.4, 20.7, 21.7, 21.8, 21.3, 18.1, 13.6, 9.9, 9.8, 8.0, 14.7, 13.3, 18.2, 19.4, 21.3, 23.5, 20.0, 14.2, 11.0, 9.0, 6.5, 6.7, 6.9, 13.5, 16.4, 20.3, 27.0, 24.3, 19.7, 17.0, 10.4, 10.2, 10.0, 10.6, 14.1, 16.1, 18.0, 22.1, 25.8, 21.7, 21.5, 17.6, 12.5, 9.2, 8.8, 8.0, 11.6, 16.3, 17.6, 22.2, 23.7, 22.2, 18.6, 15.8, 13.4, 13.7, 9.5, 9.4, 10.7, 13.5, 19.0, 20.7, 24.0, 24.7, 22.4, 15.9, 10.5]

In [ ]:
#@title 1. 最高溫
temperature_highest = max(temperatures)
print("Highest Temperature =", temperature_highest) # Expected output: 28.2

In [ ]:
#@title 2. 最低溫
temperature_lowest = 0.0 # PLEASE MODIFY
print("Lowest Temperature =", temperature_lowest) # Expected output: 0.8

In [ ]:
#@title 參考解答
temperature_lowest = min(temperatures) # PLEASE MODIFY
print("Lowest Temperature =", temperature_lowest) # Expected output: 0.8

In [ ]:
#@title 3. 平均溫度
temperature_sum = sum(temperatures)
print("Sum of Temperatures =", temperature_sum)

temperature_len = len(temperatures)
print("Length of Temperatures =", temperature_len)

temperature_mean = 0.0 # PLEASE MODIFY (hint: mean = sum / length)
print("Mean of Temperatures =", temperature_mean) # Expected output: 14.85392986698912

In [ ]:
#@title 參考解答
temperature_sum = sum(temperatures)
print("Sum of Temperatures =", temperature_sum)

temperature_len = len(temperatures)
print("Length of Temperatures =", temperature_len)

temperature_mean = temperature_sum / temperature_len # PLEASE MODIFY (hint: sum / len)
print("Mean of Temperatures =", temperature_mean) # Expected output: 14.85392986698912

In [ ]:
#@title 4. 前十筆資料的平均溫度
temperature_10 = temperatures[:10] # Get first 10 temperatures
temperature_10_mean = 0.0 # PLEASE MODIFY
print("Mean of 10 Temperatures =", temperature_10_mean) # Expected output: 16.06

In [ ]:
#@title 參考解答
temperature_10 = temperatures[:10] # Get first 10 temperatures
temperature_10_mean = sum(temperature_10) / len(temperature_10) # PLEASE MODIFY
print("Mean of 10 Temperatures =", temperature_10_mean) # Expected output: 16.06

In [ ]:
#@title 5. 第三高的溫度
sorted_temperatures = sorted(temperatures)
print("Sorted tempeartures", sorted_temperatures)

temperature_third = 0.0 # PLEASE MODIFY
print("Third-highest Temperature =", temperature_third) # Expected output: 27.0

In [ ]:
#@title 參考答案
sorted_temperatures = sorted(temperatures)
print("Sorted tempeartures", sorted_temperatures)

temperature_third = sorted_temperatures[-3] # PLEASE MODIFY
print("Third-highest Temperature =", temperature_third) # Expected output: 27.0

In [ ]:
#@title 6. 有多少個不重複的溫度值
unique_temperatures = set(temperatures) # By converting the list to set, duplicated values are removed
print("Unique Temperatures =", unique_temperatures)

num_uniques = 0 # PLEASE MODIFY
print("Number of Unique Temperatures =", num_uniques) # Expected output: 217

In [ ]:
#@title 參考解答
unique_temperatures = set(temperatures) # By converting the list to set, duplicated (重複的) temperatures will be removed
print("Unique Temperatures =", unique_temperatures)

num_uniques = len(unique_temperatures) # PLEASE MODIFY
print("Number of Unique Temperatures =", num_uniques) # Expected output: 217